/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    background-color: #d8ddd8; /* Fundo principal */
    margin: 0;
    padding: 0;
    text-align: center;
    color: #1E313F; /* Texto principal */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-size: 2.5em;
    color: #1E313F; /* Título com tom escuro */
    margin-bottom: 10px;
}

p {
    font-size: 1.1em;
    color: #555; /* Texto mais suave */
}

/* Formulários */
form {
    background: #e2eaea; /* Fundo dos formulários */
    border: 1px solid #b0c4c4; /* Borda harmônica */
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

label {
    font-size: 1em;
    color: #1E313F;
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #b0c4c4;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
    background-color: #d8ddd8;
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

input:focus, textarea:focus {
    border-color: #1E313F;
    outline: none;
    background-color: #e2eaea;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1E313F;
    color: #e2eaea;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

button:active {
    background-color: #555;
}

.back-link {
    text-align: center;
    margin-top: 20px; 
}

a {
    color: #1E313F;
    text-decoration: none;
}

a:visited {
    color: #1E313F;
}

a:hover {
    color: #1E313F;
}

a:active {
    color: #1E313F;
}
